 html, body {
    background-color: #000;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    div#logo {
        padding-top: 14rem;
    }
}
@media only screen
and (max-width : 320px) {
    div#logo {
        padding-top: 14rem;
    }
}
@media only screen
and (max-width : 320px) {
    div#logo {
        padding-top: 14rem;
    }
}
.getData,.getDataLogin{
    background-color: #ffe919;
    border: #ffe919;
    padding: 1rem;
    font-size: 2rem;
    font-family: Roboto;
    font-weight: 900;
}
.getData img,.getDataLogin img{
    width: 5rem;
}
.getData,.getDataLogin{
    background-color: #ffe919;
    border: #ffe919;
    padding: 1rem;
}
.getData .firstImg,.getDataLogin. .firstImg{
    padding-right: 7px;
}
.getData .secondImg,.getDataLogin. .secondImg{
    padding-left: 7px;
}
.aligndata{
    text-align: center;
    font-size: 3rem;
    color: yellow;
}
.showData {
    padding-top: 11rem;
    color: #fff;
}
#getDataLogin .modal-body p {
    text-align: center;
    font-size: 5rem;
}